

line(w = 20px, h = 3px, c = black, s = 0.4s)
    inline-block()
    width      w
    height     h
    bk         c
    transition s


.btn-menu
    size  40px

    .lines
        line()
        position relative
        transition background 0.2s 0.2s ease-out-quint

        &:before,
        &:after
            line()
            absolute top 5px left
            content  ''
            transform-origin 50% 50%
            transition top 0.2s 0.2s ease-in, transform 0.2s ease-out-quint

        &:after
            top -5px

    &.is-pushed

        .lines
            transition background 0.3s 0s ease
            background transparent

            &:before,
            &:after
                transition top 0.1s ease-in, transform 0.4s 0.2s ease-out-quint
                width 20px
                top   0

            &:before
                transform rotate3d(0, 0, 1, 45deg)

            &:after
                transform rotate3d(0, 0, 1, -45deg)
